.main-header{
    background-color: #775b92;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 80px;
    border-bottom: 10px solid #000 ;
}
