.main-button-menu{
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    width: auto;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 black;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 2.35);
    font-size: 20px;
    color: #fff;
}

.main-button-menu:hover{
    background-color: #f13753;
    transform: scale(1.03);
}